<nav class="  navbar navbar-fixed-bottom sticky">
  <div class="container">
    
          <div class="text-left center-block socialstuff">
              <p class="txt-railway"><a target="_blank" href="http://www.laurabuitrago.com/">LAURA BUITRAGO</a> 2015</p>
                
                <a target="_blank" href="https://www.linkedin.com/in/laurabl"><i id="social-li" class="fa fa-linkedin fa-instagram-square fa-3x social"></i></a>              
                <a target="_blank" href="https://instagram.com/laulaucia/"><i id="social-ig" class="fa fa-instagram fa-instagram-square fa-3x social"></i></a>
                <a target="_blank" href="https://github.com/laulaucia"><i id="social-gh" class="fa fa-github fa-github-square fa-3x social"></i></a>

              
  </div>
      <hr>
  </div>

</nav>

     

