<nav class=" navbar-fixed-bottom">
  <div class="container">
      <hr>
          <div class="text-left center-block">
              <p class="txt-railway"><a href="laurabuitrago.com">Laura Buitrago</a> 2015</p>
              
                <a href="https://www.facebook.com/laurabl"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/laulaucia"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://instagram.com/laulaucia/"><i id="social-ig" class="fa fa-instagram fa-instagram-square fa-3x social"></i></a>
                <a href="mailto:buitrago.laura@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
              
  </div>
      <hr>
  </div>

</nav>

     

   <!-- APPLICATION JS -->
    <script src="scripts/scripts.js"></script>
