<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="An easy search for Intel ISEF and Broadcom MASTERS science fairs">
  <meta name="Author" description="Laura Buitrago">
  <meta name="keywords" description="science, science fair, find a science fair, ISEF, international, BCM, Broadcom MASTERS">
  <link rel="icon" 
  type="image/png" 
  href="Favicon.png">
  <link rel="shortcut icon" type="image/x-icon" href="/Favicon.png">
  <title>Science fair finder</title>
  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <!-- APPLICATION SCRIPTS -->
  <script src="scripts/scripts.js"></script>
</head>