<div class="container">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./" >Scifair Search</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav">
      <li><a target="_blank" href="https://student.societyforscience.org/forms">International forms and rules</a></li>
      </ul>
     
      <ul class="nav navbar-nav navbar-right">
      <% if (user){%>
        <li><a href="./dashboard">Dashboard</a></li> 
        <li><a href="./logout">Logout</a></li>
        <% } %> 

        <% if (!user){ %>  
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create an account <b class="caret"></b></a>
          <ul class="dropdown-menu createuserform">
            <span class="createusertext">Type your email and password.</span>
             <form id="signup-form" action="/users" method="POST">
                <input id="signup-email"  type="email" placeholder="Email" name="email" required>
                <input id="signup_password"  type="password" placeholder="Password" name="password" required>
                
                <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Create</button>
                            </div>
                                
                </div>
            </form>
          </ul>
        </li>

        <li class="dropdown usernameshow">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login to edit <b class="caret"></b></a>
          <ul class="dropdown-menu loginform">
            <span class="logintext">Type your email and password.</span>
             <form id="login-form" action="/users" method="POST">
                <input id="login_email"  type="email" placeholder="Email" name="email"required>
                <input id="login_password"  type="password" placeholder="Password" name="password"required>
                
                <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                            </div>
                                
                </div>
            </form>
          </ul>
        </li>
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>