<!-- BEGIN # SEARCH BUTTON DISPLAY -->
<div class="row">
  <p class="text-center">   <a href="#" class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#findafair">FIND A SCIENCE FAIR NEAR YOU</a></p>
</div>
<!-- BEGIN # MODAL Search -->
<div class="modal fade" id="findafair"  aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">  
    <!-- <div class="modal-custom" style="background-color: #fff; height:400px;"> -->
    <div class="modal-content">
        <div class="modal-dialog">
            <div class="modal-header" align="center">
                <!-- close button -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <!-- Begin # search Form -->
                <form id='search-form'>   
                    <div class="modal-body">
                        <div id="div-login-msg">
                            <span id="text-login-msg">SEARCH FOR A SCIENCE FAIR BY STATE OR COUNTRY</span>
                            </br>
                            <label class="modallabels">ENTER A STATE</label>
                            <input id="search-by-state" class="form-control" type="text" placeholder="STATE" name="state"> 
                            <label class="modallabels">ENTER A COUNTRY</label>
                            <input id="search-by-country" class="form-control" type="text" placeholder="COUNTRY *CAPITALIZATION COUNTS*" name="country" defaultvalue="United States of America" >     
                            <div class="modal-footer">
                                <div>
                                    <button id="searchsubmit" type="submit" class="btn btn-primary btn-lg btn-block">SEARCH</button>
                                </div>
                            </div>
                        </div>
                    </div> 
                </form> 
            </div>
        </div>
    </div>
</div>






