<% include ./partials/head.ejs %>
<h1>User dashboard</h1>
<% include ./partials/navbar.ejs %>

<form id="newFairform" action="./fair" method="POST">
    <input id="fairId"  type="text" placeholder="fairId" name="fairId" required>
    <input id="fairname"  type="text" placeholder="Fair name" name="name" required>
    <input id="faircity"  type="text" placeholder="Fair City" name="city" required>
    <input id="fairstate"  type="text" placeholder="Fair State" name="state" required>
    <input id="startDate"  type="date" placeholder="Fair start date" name="country" required>
    <input id="endDate"  type="date" placeholder="Fair end date" name="endDate" >
    <input id="longitude"  type="number" placeholder="longitude" name="longitude" required>
    <input id="latitude"  type="number" placeholder="latitude" name="latitude" required>
    <input id="fairwebsite"  type="text" placeholder="website" name="website" >
    <label>Affiliations</label>
    <input   type="text" value="Intel ISEF" name="affiliations[]" > Intel ISEF</br>
    <input   type="text" value="Broadcom MASTERS" name="affiliations[]" >Broadcom MASTERS</br>


                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                            </div>
                                
             
            </form>

	startDate: String,
	endDate: String,
	longitude: String,
	latitude: String 
	

</form>


<% include ./partials/footer.ejs %>