<% include ./partials/head.ejs %>
<% include ./partials/mapheader.ejs %>
<body>
<div class="jumbotron">
	<h1 class="text-center">SCIENCE FAIR SEARCH</h1>
	<% include ./partials/navbar.ejs %>
	<% include ./partials/searchmodal.ejs %>
	<div class="row main-row">
		<div id="map" class="col-sm-5 col-sm-offset-1"> 
		</div>
		<div  class="col-md-4">
			<h3 class="text-center">SEARCH RESULTS:</h3>
			<p class="text-center"> *  YOU HAVEN'T SEARCHED YET  *<p>
			<div id="info">
			</div>
		</div>
	</div>
</div>	
<% include ./partials/footer.ejs %>
