<% include ./partials/head.ejs %>
<% include ./partials/mapheader.ejs %>
<body>
	<h1 class="glow">Science Fair Search</h1>
	<% include ./partials/navbar.ejs %>
	

<% include ./partials/searchmodal.ejs %>

<div class="row main-row">

	<div id="map" class="col-sm-5 col-sm-offset-1"> 

	</div>

    <div id="info" class="col-md-4">
    	
	</div>

<div class="row">
	<div class="col-sm-5 col-sm-offset-1">
	
	</div>
</div>



<% include ./partials/footer.ejs %>
