<% include ./partials/head.ejs %>
<body>
	<h1>Science Fair Search</h1>
	<% include ./partials/navbar.ejs %>
	<div class="container">
	<h1>Map</h1>
	<div id="map"></div>
	</div>
	

<% include ./partials/searchmodal.ejs %>

<% include ./partials/footer.ejs %>
