<% include ./partials/head.ejs %>
<% include ./partials/mapheader.ejs %>
<body>	<h1>
	Search results
	</h1>
<% include ./partials/navbar.ejs %>
<div class="row">
	<div id="map" class="col-md-6">  
	
	</div>
    <div id="info" class="col-md-6">
    	<h2>Fair Results</h2>  
	</div>
</div>
<% include ./partials/footer.ejs %>
</body>
    



