<% include ./partials/head.ejs %>
<% include ./partials/navbar.ejs %>
<div class="row">
	<div class="col-md-6">
		<div id="map" ></div>
	</div>
	<div class="col-md-6">
	    <h2>Fair info for <% %></h2>	        
	</div>
</div>
<% include ./partials/footer.ejs %>
    



