<% include ./partials/head.ejs %>
<body>	<h1>
	Search results
	</h1>
<% include ./partials/navbar.ejs %>
<div class="row">
	<div id="map" class="col-sm-6">  </div>
    <div id="info" class="col-sm-6">
        <h1>Fair Results</h1> 
    </div>
</div>
<% include ./partials/footer.ejs %>
</body>
    



