<% include ./partials/head.ejs %>
<body>	<h1>
	Search results
	</h1>
<% include ./partials/navbar.ejs %>

<div id="map" class="col-md-6"></div>
    <div id="info" class="col-md-6">
        <h1>Fair Results</h1>
        
    </div>
<% include ./partials/footer.ejs %>
</body>
    



