

input {
  border-radius: 5px;
  border: solid 1px #eee;
  
  
}

h1 {
     font-size: 4.5em;
     text-align: center;
     padding-bottom: 10px;
     font-family: 'VT323', sans-serif;
     color: #fff;
}

.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: transparent;
    color: rgb(85, 85, 85);
}

.white {
    color: #fff !important;
}

.dropdown-menu{
    background-color: rgba(200,200,200, 0.3);
}

.addafair{
    padding-bottom: 100px;
    position: static;
}

.navbar{
    width: 100%;
   background: transparent;
   border: none;
   color: #fff;

}
li.dropdown:hover > .dropdown-menu {
    display: block;
    padding: 5px;
}


html, body { 
    margin: 0;
    padding: 0; 
    background-image: url(./NasaGalaxypic.png);
    color: #fff;
}

 #map {
  position:static;
  height: 250px;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 20px;
  
  
}

.info {
    text-align: center;
    padding-bottom: 60px;
}


.main-row {

    padding-bottom: 200px;
}


/*-------- search styles (currently a login modal)*/


/* #####################################################################
   #
   #   Project       : Modal Login with jQuery Effects
   #   Author        : Rodrigo Amarante (rodrigockamarante)
   #   Version       : 1.0
   #   Created       : 07/28/2015
   #   Last Change   : 08/02/2015
   #
   ##################################################################### */
   
@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: 'Roboto', sans-serif;
}

#findafair .modal-dialog {
    width: 350px;
}

#findafair input[type=text], input[type=text] {
     margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

#logintext{
     padding: 10px;
     text-align: center;
     font-size: 1.1em;
     font-weight: bold;
}

.modallabels{
    color: #ddd;
    margin-bottom: -10px;
}

#text-login-msg{
     padding: 5px;
     text-align: center;
     font-size: 2em;
     font-weight: bold;
     color: #ddd;
}


/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
     background-color: transparent;
    border-radius: 0px;
    height:100%; 
}

.modal-header {
    /* min-height: 16.43px;  */
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
    margin-top: 30%;
}

.modal-footer {
    /* min-height: 16.43px;*/
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 5px;
    background-color: #444;
    border: none;
    
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;

}

.close{
    color: white
}
.glyphicon {
    top: 0px;
    color: white;
}

a .white {
    color: #fff !important;
}



/* ------- footer styles ---------------*/

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
     
 }

/*
    Multicoloured Hover Variations
*/

 #social-li:hover {
     color: #fff;
 }
 #social-ig:hover {
     color: #3f729B;
 }
 #social-gh:hover {
    color: #444;
 }